@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'HarryP';
  src: url(HARRYP.TTF);
}

@font-face {
  font-family: 'OL';
  src: url(OldLondon.ttf);
}

@font-face {
  font-family: 'PX';
  src: url(Daydream.ttf);
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1284.cur), auto !important;} /* End https://www.cursors-4u.com */
html{
  scroll-behavior: smooth ;
}
/* svg */

#svg {
  margin: 0;
  height: 500px;
  width: 500px;
  stroke: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  fill-opacity: 0;
  stroke-width: 5px;
  stroke-dasharray: 4500;
  animation: draw 2s ease infinite;
  
  
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


/* End svg */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }

body {
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(3.5px);
    height: 100vh;
   background-color: #0f0f0f;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-position: center; 
    overflow-x: hidden;
    
    
}

header {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    color: white;
    font-family: PX;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
     );
     background-size: 40px 40px;

    /* Animation */
     animation: move 4s linear infinite;
        }

    @keyframes move {
     0% {
       background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
  }
}

x {
    color: rgb(102, 53, 180);
}
/* Main */

.container1 {
    height: 80vh;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
  }

  .container1  h1 {
    color: rgb(255, 255, 255);
    text-shadow: rgba(214, 193, 180, 0.5) 0px 0px 39px;
    font-family: PX;
    font-size: 70px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

     

/* From Uiverse.io by adeladel522 */ 
.button {
    position: relative;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(59, 35, 146);
    border-radius: 9999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
  }
  
  .icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle; 
  }
  

  .button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  .button:hover .icon {
    -webkit-transform: translate(4px);
    -ms-transform: translate(4px);
    transform: translate(4px);
  }
  
  .button:hover::before {
    -webkit-animation: shine 1.5s ease-out infinite;
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @-webkit-keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  






/* End Main */





/* Section1 */
.sec1 {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.sec1 h1 {
    font-family: PX;
    font-size: 50px;
    color: #a2a1f0;
    text-align: center  ;
    margin-bottom: 20px;
}

.sec1 p {
    font-family: Poppins;
    list-style: none;
    font-size: 17px;
    color: #fff;
    text-align: center  ;
}

iframe {
  margin-left: 25%;
  align-items: center;
}

.sec1img {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sec1img img {
  opacity: 0.7;
  border-radius: 20px;
  max-height: 50vh; 
}


/* From Uiverse.io by Juanes200122 */ 
.container2 {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    font-family: Poppins;
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #49474734;
    margin:30px auto;
    padding: 10px 20px;
    border-radius: 7px;
  }
  
  .container2 .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: rgb(226, 226, 226);
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(236, 236, 236, 0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgb(226, 226, 226);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.bio {
    /*progreso de las diferentes lenguajes*/
    width: 90%;
    animation-delay: 0.1s;
    background: rgb(164, 95, 221);
  }
  
  .skill-per.chem {
    /*progreso de las diferentes lenguajes*/
    width: 75%;
    animation-delay: 0.1s;
    background: rgb(102, 68, 197);
  }
  
  .skill-per.phys {
    /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.2s;
    background: rgb(226, 226, 226);
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(226, 226, 226);
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(226, 226, 226);
    transform: translateX(-50%) rotate(45deg);
  }
  
/* End Section1 */


.text {
  content: "";
  position: absolute;
  top: 4.5em;
  width: 8.7em;
  height: 2.6em;
  background-color: #2424248f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.25s linear;
  font-family: Prompt;
  font-size: 12px;
  max-lines: 1;
}

.button3:hover .text {
  opacity: 1;
}

/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  
  position: relative;
  margin: 1rem auto;
  display: flex;
  background-color: rgba(56, 51, 56, 0.596);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.button3 {
  margin: auto;
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button3:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}


   /*footer*/
  /* From Uiverse.io by 0800Gonza */ 
.card {
  width: 100%;
  height: fit-content;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* github*/
.containerTwo:hover {
  background-color: #000000;
  transition-duration: 0.3s;
}
/* Youtube*/
.containerThree:hover {
  background-color: #f32525;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*End*/




@media (max-width: 431px) {

  body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
  }
  
  .container1 h1 {
      font-size: 40px;
      line-height: 60px;
      color: rgb(255, 255, 255);
      font-weight: lighter;
    }

  .sec1 {
    background-color: #161616;;
    height: auto;
    margin: auto;
    padding: 20px; /* Add padding to section */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: fit-content;
  }

  .sec1img {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .sec1img img {
    width: 60%;
    height: 50%;
  }

  .sec1content {
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .sec1content h1 {
    text-align: center;
    font-size: 34px;
  }

  .sec1content p {
    text-align: center;
    font-size: 12px;
    line-height: 2;
    max-width: 48ch;
  }


  .container2 {
    display: block;
    width: 60%;
  }

  .container2 .skill-box {
    width: 100%;
    margin: 0;
  }

}



@media (min-width:768px) and (max-width:1200px) {

  .container1 {
    height: 80vh;
  }

  .container1 h1 {
    font-size: 80px;
    line-height: 120px;
    color: #ffffff;
  }

  .container2 {
    display: block;
    width: 60%;
  }

  .container2 .skill-box {
    width: 100%;
    height: 80px;
    margin: 0;
  }


  .skill-box .title {
    font-size: 20px;

  }
  
  iframe {
    margin-left: 0%;
    width: 90%;
  }



  .sec1 {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    align-items: center;
    text-align: center;
    height: 70vh;
  }


  .sec1content {
    margin: auto;
    align-items: center;
  }

  .sec1content h1 {
    text-align: center;
    font-size: 20px;
  }

  .sec1content p {
    text-align: center;
    font-size: 20px;
    line-height: 2;
    max-width: 48ch;
  }

  .sec1img img {
    display: none;
  }

  .main {
    margin-bottom: 8%;
  }
}

@media (min-width:1280px) and (max-width:1368px) and (min-height:720px) and (max-height:768px) {
  .sec1 {
    height: 100vh;
  }

  .card {
    margin-left: 5%;
  }

  iframe {
    margin-left: 10%;
    width: 80%;
  }
}

 @media only screen and (max-width: 1180px) and (orientation: landscape) {
  body {
      display: none; /* Hide content in landscape mode */
  }

} 

@media (min-width:539px) and (max-width:760px) {
  body {
      display: none; /* Hide content in landscape mode */
  }
}